*,*:before,*:after{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
}
body{
  background: url('../images/image4.jpg') fixed;
  background-size: cover;
  font-family: Times New Roman;
  min-width: 1080px;
}
ul {
  list-style: none;
}
a{
  text-decoration: none;
}
.wrapper{
  width: 1080px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  overflow: hidden;
  flex-direction: column;
  background: rgba(0,0,0,.6);
}
.header{
  width: 1080px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container{
  width: 960px;
  display: flex;
  justify-content: center;
}
.container h1{
  margin-bottom: 10px;
}
.menu{
  background: rgb(44,44,44);
}
.menu li{
  float: left;
}
.menu li a{
  color: #fff;
  display: block;
  height: 50px;
  padding: 0 30px;
  text-transform: uppercase;
  line-height: 50px;
}
.menu li a:hover {
  background:#DC143C;
}
.column{
  flex-direction: column;
  align-items: center;
}
.marg{
  margin-top: 30px;
}
@media screen
and (min-device-width: 240px)
and (max-device-width: 1024px) {
  body{
    background: url('../images/image4.jpg') 50% fixed;
    background-size: cover;
  }
  h1{
    font-size: 50px;
  }
  h4{
    font-size: 35px;
  }
  .warg{
    height: 125px;
  }
  .menu{
    min-height: 60px;
  }
  .menu li a{
    font-size: 19px;
    min-height: 60px;
    line-height: 60px;
  }
}