/* Основна частина */

*,*:before,*:after{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
body{
	background: url('../images/image4.jpg') 50% 0% / cover no-repeat fixed;
}
img{
	max-width: 100%;
}
a{
	text-decoration: none;
}
.wrapper{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.container{
	max-width: 1080px;
	margin: 0 auto;
	padding: 0 30px;
}
.header{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
}
.header:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgb(44,44,44);
	z-index: 2;
}
.header__body{
	position: relative;
	display: flex;
	justify-content: space-between;
	height: 80px;
	align-items: center;
}
.header__title{
	color: gold;
	z-index: 2;
}
.title{
	font-size: calc(18px + 10 * (100vw / 1080));
}
.header__logo{
	display: none;
}
.header__burger{
	display: none;
}
.header__list{
	display: flex;
	position: relative;
	z-index: 2;
}
.header__list li{
	list-style: none;
	padding: 0 10px 0 10px;
}
.header__list li:hover{
	background:#DC143C;
}
.header__list li a{
	display: block;
	height: 80px;
	line-height: 80px;
}
.header__link{
	color: #fff;
	text-transform: uppercase;
	font-size: 18px;
}
.content{
	max-width: 1080px;
	min-height: 100vh;
	margin: 0 auto;
	padding: 70px 0 0 0;
	background: rgba(0,0,0,.6);
}
.content__text{
	display: flex;
	flex-direction: column;
	align-items: center;
	line-height: 30px;
	font-size: calc(21px + 3 * (100vw / 1080));
	font-weight: bold;
	text-align: center;
	color: crimson;
}

/* сторінка "Інформація" */

.famous{
	margin: 10px 0;
}
.flex_space{
	display: flex;
	justify-content: space-around;
}
.img_list div{
	padding: 0 10px;
}
.link_list div{
	width: 33.3%;
}

/* Параша, яку я ніколи не закінчу */

.footer{
	background: rgb(44,44,44);
}
.footer__link{
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-size: 15px;
	display: block;
	height: 30px;
	line-height: 30px;
}

/* Медіа запроси */

@media (max-width: 425px){
	.famous{
		display: flex;
		flex-direction: column;
	}
	.frst{
		order: 1;
	}
	.scnd{
		order: 2;
	}
	.thrd{
		order: 3;
	}
	.frth{
		order: 4;
	}
	.ffth{
		order: 5;
	}
	.sxth{
		order: 6;
	}
	.svnth{
		order: 7;
	}
	.ghth{
		order: 8;
	}
	.nnth{
		order: 9;
	}
	.tnth{
		order: 10;
	}
	.lvnth{
		order: 11;
	}
	.twlfth{
		order: 12;
	}
}

@media (max-width: 959px){
	.header__title{
		display: none;
	}
	.header__logo{
		display: initial;
		flex: 0 0 60px;
		overflow: hidden;
		position: relative;
		z-index: 3;
	}
	.header__logo img{
		max-width: 100%;
		display: block;
	}
}

@media (max-width: 767px){
	body{
		background: #000;
	}
	body.lock{
		overflow: hidden;
	}
	.header__body{
		height: 50px;
	}
	.header__logo{
		flex: 0 0 40px;
	}
	.header__burger{
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		position: relative;
		z-index: 3;
	}
	.header__burger span{
		position: absolute;
		background-color: #fff;
		left: 0;
		width: 100%;
		height: 2.2px;
		top: 9px;
		transition: 0.3s;
	}
	.header__burger:before,.header__burger:after{
		content: '';
		background-color: #fff;
		position: absolute;
		width: 100%;
		height: 2.2px;
		left: 0;
		transition: 0.3s;
	}
	.header__burger:before{
		top: 0;
	}
	.header__burger:after{
		bottom: 0;
	}
	.header__burger.active span{
		transform: scale(0);
	}
	.header__burger.active:before{
		transform: rotate(45deg);
		top: 9px;
	}
	.header__burger.active:after{
		transform: rotate(-45deg);
		bottom: 9px;
	}
	.header__menu{
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		transition: 0.3s;
		background-color: rgb(60,60,60);
		padding: 70px 10px 20px 10px;
	}
	.header__menu.active{
		top: 0;
	}
	.header__list{
		display: block;
	}
	.header__list li{
		margin: 0 0 20px 0;
	}
	.content{
		padding: 45px 0 0 0;
	}
	.content__text{
		font-size: calc(21px + (3 + 3 * 0.7) * ((100vw - 320px) / 1080))
	}
}